.DS_Store
.env
.env.*
!.env.example
.venv/
__pycache__/
*.log
logs/
node_modules/
.cache/
dist/
.idea/
fleet/
output/
timestamps*
video.mp4
rabbitmqadmin.conf
.pytest_cache/
**/.pytest_cache/

frontend/.output/
frontend/.data/
frontend/.nuxt/
frontend/.nitro/
frontend/.cache/
frontend/dist/
frontend/node_modules/
frontend/logs/
frontend/*.log
frontend/.DS_Store
frontend/.fleet/
frontend/.idea/
frontend/.env
frontend/.env.*
!frontend/.env.example

auth/node_modules/
auth/.env

users/.venv/
users/.env
users/__pycache__/

upload/.venv/
upload/.env
upload/__pycache__/

finalizer/.venv/
finalizer/.env
finalizer/__pycache__/

iframebreaker/.venv/
iframebreaker/.env
iframebreaker/videos/
iframebreaker/__pycache__/

playlist/.venv/
playlist/.env
playlist/__pycache__/
playlist/*/__pycache__/

videos/node_modules/
videos/.env

transcoder/main
transcoder/bin/
transcoder/transcoder

transcode/mc
transcode/output/
transcode/timestamps*
transcode/video.mp4
transcode/rabbitmqadmin.conf

.data/
ARCHITECTURE/
env/
OLD_SHIT/
ERRORS/

helm/app/values-override.yaml
helm/app/tls/ca.*
helm/app/tls/simplevod.*

*.db
*.sqlite
*.sqlite3

*.tmp
*.temp
tmp/
temp/

Thumbs.db
ehthumbs.db
Desktop.ini

*.tar.gz
*.tar
*.tgz
*.zip
*.rar

coverage/
.nyc_output/
coverage.out

*.swp
*.swo
*~
